/* About.css */
.icon-bg {
    background-color: #FFA500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 0.3s ease;
}

.bg-icon {
    background-color: #040e18;
     
}
#home1{
    overflow: hidden;
}
#about{
    overflow: hidden;
}
#quality{
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#quality{
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}
#work{
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}
#contact{
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}
#clients{
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}
